.sidebar {
  width: 140px;
  height: 100vh;
  background-color: #424e77;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

#logo {
  margin-bottom: 1em;
  width: 100px;
  height: 100px;
}

.username {
  margin-bottom: 2em;
  font-size: 1em;
  color: #ffffff;
  text-align: center;
}

.side-bar-item, .dropbtn {
  width: 100%;
  padding: 1em 0;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;
  margin-bottom: 0.5em;
  cursor: pointer;
  border-radius: 10px;
}

.side-bar-item i, .dropbtn i {
  margin-right: 1em;
}

.side-bar-item:hover, .dropbtn:hover {
  background-color: #3a4c84;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(51, 32, 32, 0.2);
  z-index: 1;
  background-color: #f3f3f6;
  width: 100%;
  top: 100%;
}

.dropdown-content a {
  color: #f3f0f0;
  padding: 1em;
  text-decoration: none;
  display: block;
  background-color: #3c4b7e;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: #5e6b91;
}

.study-groups {
  width: 100%;
  color: #fffefe;
  padding-top: 1em;
}

.group-title {
  font-size: 1em;
  color: #f8f6f6;
  margin-bottom: 1em;
}

.group-list {
  width: 100%;
  color: #fefefe;
  max-height: 125px;
  overflow-y: auto; 
}

.group-list a {
  display: block;
  text-decoration: none;
  color: #f3f1f1;
  padding: 0.5em 0;
  transition: background-color 0.2s ease;
}

.group-list a:hover {
  background-color: #3a4c84;
}